<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>
<body>
    <h1>Here are the awesome quotes!</h1>
    <%const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];
    %>
    <%for(var quote of quotes){ %>
        <p style="color: gray">"<%=quote.quote%>"</p>
        <p style="color: blue">-<%=quote.name%> at <%=quote.createdAt.getHours()%>:<%=quote.createdAt.getMinutes()%> <%=quote.createdAt.getHours() >= 12 ? 'pm' : 'am'%> <%=monthNames[quote.createdAt.getMonth()]%> <%=quote.createdAt.getDay()%> <%=quote.createdAt.getFullYear()%></p>
    <%}%>
    <a href="/"><button>Home</button></a>
</body>
</html>